<html>
    {{template "head"}}
    <body>
        <div class="container-fluid" style="padding: 0 1rem 0 0">
            <div class="row">
                <div class="col">
                    {{.}}
                </div>
                <div class="col">
                    <a href="/">Navigate back to charted territory</a>
                </div>
            </div>
            {{template "js"}}
        </div>
    </body>
</html>