<html>
    {{template "head"}}
    <body>
        {{template "navIn"}}
        <div class="container-fluid elevation-8 content-container theme-bg-alt pa-1 mx-1 theme-border-alt">
            {{template "indexContent" .}}
            {{template "js"}}
        </div>
    </body>
</html>