<html>
    {{template "head"}}
    <body>
        {{template "navOut"}}
        <div class="container-fluid" style="padding: 0 0 0 0">
            <div class="row">
                <div class="col" style="margin: 1rem 1rem 0 0">
                    You've successfully registered :), navigate back to the homepage <a href="/">here</a>
                </div>
            </div>
            {{template "js"}}
        </div>
    </body>
</html>