<html>
    {{template "head"}}
    <body>
        {{template "navIn"}}
        <div class="container-fluid elevation-8 content-container theme-bg-alt pa-1 mx-1 theme-border-alt theme-text-highlighter">
            <div class="row">
                <div class="col">
                    {{.}}
                </div>
            </div>
            {{template "js"}}
        </div>
    </body>
</html>