<html>
    {{template "head"}}
    <body>
        {{template "navIn"}}
        <div class="container-fluid" style="padding: 0 0 0 0">
            <div class="row">
                <div class="col" style="margin: 1rem 1rem 0 0">
                    You've missed your registration window, try again <a href="/register">here</a>
                </div>
            </div>
            {{template "js"}}
        </div>
    </body>
</html>